#nav {
  margin: 13px 0 0 0;
}

#nav ul li {
  display: inline;
  margin: 0 20px 0 0;
  margin-bottom: 80px;
}

#nav a {
  text-decoration: none;
}

#nav li.active a {
  color: #444;
}

#nav li.username {
  color: #888;
}

#brand a {
  text-decoration: none;
}

#buildings thead {
  text-transform: uppercase;
}
