#nav {
  margin: 13px 0 0 0;
}

#nav ul li {
  display: inline;
  margin: 0 20px 0 0;
  margin-bottom: 80px;
}

#nav a {
  text-decoration: none;
}

#nav li.active a {
  color: #444;
}

#nav li.username {
  color: #888;
}

#brand a {
  text-decoration: none;
}

#buildings thead {
  text-transform: uppercase;
}

a.icon {
  padding: 3px 5px;
  border: solid 1px;
  border-radius: 4px;
}

a.icon.inactive {
  cursor: not-allowed;
  color: #bfbfbf;
}

ul.inline li {
  display: inline-block;
  padding-left: 1em;
}

ul.inline li:first-child {
  padding-left: 0;
}

#resources span.resource {
  text-transform: capitalize;
}

span.number.positive {
  color: #4a4;
}

span.number.negative {
  color: #c44;
}

a.icon {
  text-decoration: none;
}

/* mobile-first table layout */

table {
  width: 100%;
  table-layout: fixed;
}

table thead {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

table tr {
  display: block;
}

table td {
  display: block;
  text-align: right;
}

table td::before {
  content: attr(data-label);
  float: left;
}

table td.operations {
  text-align: center;
}

table td.building {
  text-transform: uppercase;
  font-weight: bold;
}

/* large device table layout */

@media (min-width: 750px) {
  table {
    width: inherit;
    table-layout: inherit;
  }

  table thead {
    clip: inherit;
    height: inherit;
    margin: inherit;
    overflow: inherit;
    padding: inherit;
    position: inherit;
    width: inherit;
  }

  table tr {
    display: table-row;
  }

  table td {
    display: table-cell;
    text-align: left;
    padding: 12px 5px;
  }

  table th {
    padding: 12px 5px;
  }

  table td::before {
    content: unset;
    float: none;
  }

  table td.building {
    text-transform: none;
    font-weight: inherit;
  }

  a.icon span.description {
    display: none;
  }
}

@media (min-width: 1000px) {
  table td, table th {
    padding: 12px 8px;
  }
}

@media (min-width: 1200px) {
  table td, table th {
    padding: 12px 15px;
  }
}

/* vim: set et sw=2 sts=2: */
