@media (max-width: 550px) {
  .no-mobile {
    display: none;
  }
}

@media (min-width: 550px) {
  .mobile {
    display: none;
  }
}

#nav {
  margin: 13px 0 0 0;
}

#nav ul li {
  display: inline;
  margin: 0 20px 0 0;
}

#nav a {
  text-decoration: none;
}

#nav li.active a {
  color: #444;
}

#nav li.username {
  color: #888;
}

#brand a {
  text-decoration: none;
}

#buildings {
  font-size: 90%;
}

thead {
  text-transform: uppercase;
}

a.icon {
  border: solid 1px;
  border-radius: 4px;
  padding: 3px 5px;
}

a.icon.inactive {
  color: #bfbfbf;
  cursor: not-allowed;
}

ul.inline li {
  display: inline-block;
  padding-left: 1em;
}

ul.inline li:first-child {
  padding-left: 0;
}

#resources {
  padding-bottom: 1em;
}

#resources span.resource {
  text-transform: capitalize;
}

span.number.positive {
  color: #4a4;
}

span.number.negative {
  color: #c44;
}

a.icon {
  text-decoration: none;
}

.light {
  color: #666;
}

.text-right {
  text-align: right;
}

img.planet {
  max-height: 96px;
  max-width: 96px;
}

/* mobile-first table layout */

table {
  table-layout: fixed;
}

table thead {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

table tr {
  display: block;
}

table td {
  display: block;
  text-align: right;
}

table td::before {
  content: attr(data-label);
  float: left;
}

table td.operations {
  text-align: center;
}

@media (min-width: 750px) {
  table td.operations {
    text-align: right;
  }
}

table td.building {
  font-weight: bold;
  text-transform: uppercase;
}

.meter {
  height: 20px;
  position: relative;
  border-radius: 15px;
  padding: 3px;
  border: 2px solid #1eaedb;
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #ddd;
  position: relative;
  overflow: hidden;
}

.meter > h6 {
  position: absolute;
  z-index: 1;
  padding-left: 1ex;
}

.resource {
  padding-bottom: 2px;
}

button.u-full-width {
  padding: 0;
}

/* large device table layout */

@media (min-width: 750px) {
  table {
    table-layout: inherit;
  }

  table thead {
    clip: inherit;
    height: inherit;
    margin: inherit;
    overflow: inherit;
    padding: inherit;
    position: inherit;
    width: inherit;
  }

  table tr {
    display: table-row;
  }

  table td {
    display: table-cell;
    padding: 0.8em 0.3em;
    text-align: left;
  }

  table th {
    padding: 1em 0.3em;
  }

  table td::before {
    content: unset;
    float: none;
  }

  table td.building {
    font-weight: inherit;
    text-transform: none;
  }

  a.icon span.description {
    display: none;
  }
}

@media (min-width: 1000px) {
  table td, table th {
    padding: 0.8em 0.5em;
  }
}

@media (min-width: 1200px) {
  table td, table th {
    padding: 0.8em 0.7em;
  }
}

/* vim: set et sw=2 sts=2: */
