% Copyright 2018 Gregor Uhlenheuer
%
% Licensed under the Apache License, Version 2.0 (the "License");
% you may not use this file except in compliance with the License.
% You may obtain a copy of the License at
%
%     http://www.apache.org/licenses/LICENSE-2.0
%
% Unless required by applicable law or agreed to in writing, software
% distributed under the License is distributed on an "AS IS" BASIS,
% WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
% See the License for the specific language governing permissions and
% limitations under the License.

[
 {ogonek,
  [{buildings,
    [
     % BDEF , NAME                , WORKERS , POWER , IRON ORE , GOLD  , H2O   , OIL   , H2  , URANIUM , PVC , TITAN, KYANITE , GROUP   , REQS

     {bdef  , construction_center , 20      , 200   , 20000    , 7500  , 2000  , 4500  , 0   , 0       , 0   , 0    , 0       , general      , []},
     {bdef  , research_lab        , 25      , 350   , 6000     , 3000  , 1700  , 6000  , 0   , 0       , 0   , 0    , 0       , general      , []},

     {bdef  , oil_rig             , 3       , 20    , 1000     , 800   , 800   , 1000  , 0   , 0       , 0   , 0    , 0       , resource     , []},
     {bdef  , water_rig           , 3       , 20    , 1000     , 800   , 800   , 1000  , 0   , 0       , 0   , 0    , 0       , resource     , []},
     {bdef  , ore_mine            , 3       , 20    , 1000     , 800   , 800   , 1000  , 0   , 0       , 0   , 0    , 0       , resource     , []},
     {bdef  , gold_mine           , 3       , 20    , 1000     , 800   , 800   , 1000  , 0   , 0       , 0   , 0    , 0       , resource     , []},

     {bdef  , ext_oil_rig         , 15      , 150   , 10000    , 8000  , 8000  , 10000 , 500 , 500     , 500 , 500  , 250     , resource     , [{mining, 10}]},
     {bdef  , ext_water_rig       , 15      , 150   , 10000    , 8000  , 8000  , 10000 , 500 , 500     , 500 , 500  , 250     , resource     , [{mining, 10}]},
     {bdef  , ext_ore_mine        , 15      , 150   , 10000    , 8000  , 8000  , 10000 , 500 , 500     , 500 , 500  , 250     , resource     , [{mining, 10}]},
     {bdef  , ext_gold_mine       , 15      , 150   , 10000    , 8000  , 8000  , 10000 , 500 , 500     , 500 , 500  , 250     , resource     , [{mining, 10}]},

     {bdef  , uranium_mine        , 5       , 35    , 5000     , 3000  , 2500  , 5500  , 0   , 0       , 0   , 0    , 0       , resource     , [{radioactivity, 2}]},
     {bdef  , kyanite_mine        , 7       , 40    , 5000     , 6000  , 4500  , 6500  , 0   , 0       , 0   , 0    , 0       , resource     , [{mining, 10}, {construction, 10}, {chemistry, 5}]},

     {bdef  , oil_tank            , 0       , 6     , 2750     , 2500  , 2500  , 10000 , 0   , 0       , 0   , 0    , 0       , storage      , []},
     {bdef  , water_tank          , 0       , 2     , 2750     , 2500  , 10000 , 2500  , 0   , 0       , 0   , 0    , 0       , storage      , []},
     {bdef  , ore_depot           , 0       , 5     , 12000    , 2500  , 2500  , 2500  , 0   , 0       , 0   , 0    , 0       , storage      , []},
     {bdef  , gold_depot          , 0       , 8     , 2750     , 10000 , 2500  , 2500  , 0   , 0       , 0   , 0    , 0       , storage      , []},

     {bdef  , uranium_depot       , 0       , 15    , 5500     , 7500  , 6500  , 8500  , 0   , 10000   , 0   , 0    , 0       , storage      , [{radioactivity, 2}]},
     {bdef  , kyanite_depot       , 0       , 15    , 6000     , 8000  , 7000  , 9000  , 0   , 0       , 0   , 0    , 10000   , storage      , [{mining, 10}, {construction, 10}, {chemistry, 5}]},

     {bdef  , power_plant         , 6       , -750  , 2900     , 1500  , 1500  , 8000  , 0   , 0       , 0   , 0    , 0       , power_living , []},
     {bdef  , wind_turbine        , 4       , -1400 , 1100     , 5500  , 3500  , 1000  , 0   , 0       , 0   , 0    , 0       , power_living , []},
     {bdef  , hydro_plant         , 15      , -2000 , 1800     , 6000  , 9500  , 4500  , 0   , 0       , 0   , 0    , 0       , power_living , [{alternative_energies, 5}]},

     {bdef  , apartment           , -10     , 5     , 275      , 300   , 500   , 600   , 0   , 0       , 0   , 0    , 0       , power_living , []},
     {bdef  , apartment_block     , -50     , 50    , 750      , 600   , 1300  , 2000  , 0   , 0       , 0   , 0    , 0       , power_living , []}
    ]}
  ]}
].

% vim: set ft=erlang:
