[
 % logging configuration
 {lager,
  [{handlers,
    [{lager_console_backend, [{level, debug}]}]}
  ]},

 % general ogonek configuration
 {ogonek,
  [{webserver_port, 8000},
   {couchdb_host, <<"http://localhost:5984">>}
  ]
 },

 % building configuration
 "buildings.config"
].

% vim: set ft=erlang:
