{erl_opts, [debug_info,
            {parse_transform, lager_transform}
           ]}.

{deps, [{elli, "2.0.1"},
        {elli_websocket, "0.1.0"},
        {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {tag, "3.6.4"}}},
        {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.14.11"}}},
        {hackney, ".*", {git, "https://github.com/benoitc/hackney.git", {tag, "1.13.0"}}}
       ]}.

{cover_enabled, true}.

% vim: ft=erlang:
